<div class="card-design message <%= user_is_messages_author ? "right" : "" %>">

  <div class="message-top">
      <%= render "shared/avatar", post: message %>
    <div>
      <div class="card-author">
        <h3><%= message.user.first_name[0..12] %><%= message.user.first_name.size > 12 ? ".." : "" %> </h3>
        <h5><%= message.user.babies.size %> morveux</h5>
      </div>
    </div>
    <h5 id="timer">Il y a <%=((Time.now - message.created_at)).to_i / 60%> min</h5>
  </div>

  <div class="message-content">
    <p><%= message.content %></p>
  </div>

  <div class="message-bottom">

    <% if current_user.liked? message %>
      <%= link_to unlike_chat_room_post_message_path(message.post.chat_room, message.post, message), method: :put do %>
        <i class="fa fa-thumbs-up" aria-hidden="true"></i> <!-- see filled heart -->
      <% end %>
    <% elsif %>
       <%= link_to like_chat_room_post_message_path(message.post.chat_room, message.post, message), method: :put do %>
         <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <!-- see empty heart -->
       <% end %>
     <% end %>

    <h5><%= pluralize message.get_likes.size, "like" %></h5>
  </div>
</div>
