<div class="card-design message <%= user_is_messages_author ? "right" : "" %>">

  <div class="message-top">
      <%= render "shared/avatar", user: message.user %>
    <div>
      <div class="card-author">
        <p><%= message.user.first_name[0..12] %><%= message.user.first_name.size > 12 ? ".." : "" %> </p>
        <h5><%= message.user.babies.size %> morveux</h5>
      </div>
    </div>
      <%= render "shared/timer", post: message %>
  </div>

  <div class="message-content card-content">
    <h4><%= message.content %></h4>
  </div>
</div>
