
<div class="index">
  <%= render "index" %>
</div>


<div class="posts">
  <% @posts.each do |post| %>
    <%= render "posts/post", post: post, user_is_posts_author: post.user == current_user %>
  <% end %>
</div>


<!-- Button trigger modal -->
<div class="bottom-navbar">
  <button type="button" id="show-modal" class="cute-button text-center" data-toggle="modal" data-target="#CreatePostModal">
    Demander
  </button>
</div>
<!-- Modal -->
<div class="modal fade" id="CreatePostModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModale"></button>
      </div>
      <div class="modal-body">
        <div id="create-post">
          <%= simple_form_for [ @chat_room, Post.new ], remote: true, html: {autocomplete: "off" } do |f| %>
            <%= f.input :content, placeholder: "Lâchez-vous", label: false%>
            <%= f.input :photo, label: false, as: :attachinary do %>
              <i class="fa fa-camera-retro fa-2x"></i>
            <% end %>
        </div>
      </div>
      <div class="modal-footer">
          <%= f.button :submit , class: 'cute-button'%>
        <% end %>
      </div>
    </div>
  </div>
</div>



<% content_for :after_js do %>
  <script>

    $("#post_content").keypress(function(event) {
        if (event.which == 13) {
            event.preventDefault();
            $("#new_post").submit();
            setTimeout(function(){scrollLastPostIntoView();}, 200);
            $('#CreatePostModal').modal('hide');
        }
      });

    $('#show-modal').click(function() {
      setTimeout(function(){$('#post_content').focus();}, 1000);
    });

    scrollLastPostIntoView();

    App['chat_room_<%= @chat_room.id %>'] = App.cable.subscriptions.create(
      { channel: 'ChatRoomsChannel', chat_room_id: <%= @chat_room.id %> },
      {
        received: (data) => {
          if (data.current_user_id !== <%= current_user.id %>) {
            const postsContainer = document.querySelector('.posts');
            postsContainer.insertAdjacentHTML('beforeend', data.post_partial);
            scrollLastPostIntoView();
          }
        }
      })
  </script>
<% end %>

