
<div class="index">
  <%= render "index" %>
</div>


<div class="posts">
  <% @posts.each do |post| %>
    <%= render "posts/post", post: post, user_is_posts_author: post.user == current_user %>
  <% end %>
</div>

<!-- Button trigger modal -->
<button type="button" id="show-modal" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#CreatePostModal">
  Write Post
</button>

<!-- Modal -->
<div class="modal fade" id="CreatePostModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModale"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nouveau Post</h4>
      </div>
      <div class="modal-body">
        <div id="create-post">
          <%= simple_form_for [ @chat_room, Post.new ], remote: true, html: {autocomplete: "off" } do |f| %>
            <%= f.input :content, label: false %>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>



<% content_for :after_js do %>
  <script>

    $("#post_content").keypress(function(event) {
        if (event.which == 13) {
            event.preventDefault();
            $("#new_post").submit();
            setTimeout(function(){scrollLastPostIntoView();}, 100);
            $('#CreatePostModal').modal('hide');
        }
      });

    // $('#show-modal').click(function() {
    //   $('#post_content').focus();
    // });

    scrollLastPostIntoView();

    App['chat_room_<%= @chat_room.id %>'] = App.cable.subscriptions.create(
      { channel: 'ChatRoomsChannel', chat_room_id: <%= @chat_room.id %> },
      {
        received: (data) => {
          if (data.current_user_id !== <%= current_user.id %>) {
            const postsContainer = document.querySelector('.posts');
            postsContainer.insertAdjacentHTML('beforeend', data.post_partial);
            scrollLastPostIntoView();
          }
        }
      })
  </script>
<% end %>

