
<div id="article" class="card-design navbar-space">
  <h1><%= @article.title %></h1>
  <h5>Ecrit par <%= @article.user.first_name %> <%= @article.user.last_name %></h5>
    <% if @article.photo? %>
      <%= cl_image_tag @article.photo.path, crop: :fill, style: 'width: 100%; margin: 0px;' %>
    <% end %>
  <p><%= @article.content %></p>
</div>

<div id="article comments" class="card-design">
  <h1>Commentaires</h1>

    <% if @comments.empty? %>
      <h4>Soyez le premier à commenter!</h4>
    <% else %>
      <% @comments.last(5).each do |comment| %>
        <%= render "messages/message", message: comment, user_is_messages_author: comment.user == current_user %>
      <% end %>
    <% end %>



  <h1>Plus d'articles</h1>
    <% @random_articles.each do |article| %>
      <%= link_to article_path(article) do %>
        <div class="article-top flex-horizontal">
          <h4><%= article.title %></h4>
        </div>
      <% end %>
    <% end %>
</div>



