<div class="container navbar-space">
  <h2>Vos infos</h2>
  <%= simple_form_for @user do |f| %>

    <div class="profile-edit">
      <% if @user.profile_pic? %>
        <%= cl_image_tag @user.profile_pic.path, width: 120, height: 120, crop: :fill, class: "avatar-large" %>
      <% else avatar_url = @user.facebook_picture_url || "https://www.fillmurray.com/120/120" %>
        <img class="avatar-large" src=<%= avatar_url %> alt="">
      <% end %>
      <%= f.input :profile_pic, as: :attachinary, label: 'Changer ma photo' %>
    </div>

    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <div class="form-group">
      <%= f.input :date_of_birth %>
    </div>
    <%= f.submit class: "btn btn-success" %>
  <% end %>
</div>
