<div class="container navbar-space">
  <h1>Vous</h1>
  <%= simple_form_for @user do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :date_of_birth %>
    <%= f.input :profile_pic, as: :attachinary %>
    <%= f.submit %>
  <% end %>
  <h1>Votre mioche</h1>
  <% if @babies.empty? %>
    <p>Pas de bébé? ALlez en faire un tout de suite !</p>
  <% else %>
    <% @babies.each do |baby| %>
      <%= render "babies/edit", baby: baby %>
    <% end %>
  <% end %>
</div>
