<div class="container carousel text-center">
</div>

<div class="profile-background white-background navbar-space">
  <div class="profile-top">
    <% if @user.profile_pic? %>
      <%= cl_image_tag @user.profile_pic.path, width: 200, height: 200, crop: :fill, class: "avatar-profile" %>
    <% else avatar_url = @user.facebook_picture_url || "https://www.fillmurray.com/200/200" %>
      <img class="avatar-profile" src=<%= avatar_url %> alt="">
    <% end %>
    <%= link_to "Editer profil", edit_user_path(@user), class: "cute-button-purple" %>
  </div>

  <div class="profile-middle text-center">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <h4><%= @user.email %></h4>
  </div>

  <div class="profile-kids text-center">
    <% @user.babies.each do |baby| %>
    <%= render "babies/baby_card", baby: baby %>
    <% end %>
    <div id="add-kid" class="kid-card card-design">
      <div class="baby-avatar text-center"
      style="background-image: linear-gradient(rgba(255,255,255,0),
        rgba(0,0,0,0.3)),
        url('<%= cl_image_path 'https://www.fillmurray.com/100/100', height: 100, width: 100, crop: :fill %>')">
      </div>
      <div class="baby-infos">
        <%= link_to new_user_baby_path(@user) do %>
        <h4>Ajouter un mioche</h4>
        <% end %>
      </div>
    </div>
  </div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a data-target="#home" aria-controls="home" role="tab" data-toggle="tab">Posts</a></li>
    <li role="presentation"><a data-target="#profile" aria-controls="profile" role="tab" data-toggle="tab">Likes</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <div class="my-likes">
        <% if @my_posts.empty? %>
          <p>Vous n'avez encore rien liké ou posté.. Ca arrive, même aux meilleurs.</p>
        <% else %>
          <% @my_posts.each do |post| %>
            <%= render "posts/post", post: post, user_is_posts_author: post.user == current_user %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
      <div class="my-likes">
        <% if @liked_posts.empty? %>
          <p>Vous n'avez encore rien liké ou posté.. Ca arrive, même aux meilleurs.</p>
        <% else %>
          <% @liked_posts.each do |post| %>
            <%= render "posts/post", post: post, user_is_posts_author: post.user == current_user %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
