<div class="container carousel text-center">
</div>

<div class="white-background navbar-space">
  <div class="profile-top">
    <% if @user.profile_pic? %>
      <%= cl_image_tag @user.profile_pic.path, width: 200, height: 200, crop: :fill, class: "avatar-profile" %>
    <% else avatar_url = @user.facebook_picture_url || "https://www.fillmurray.com/200/200" %>
      <img class="avatar-profile" src=<%= avatar_url %> alt="">
    <% end %>
    <%= link_to "Editer profil", edit_user_path(@user), class: "cute-button-purple" %>
  </div>

  <div class="profile-middle">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <h4><%= @user.email %></h4>
  </div>
  <div class="profile-kids text-center">
    <% @user.babies.each do |baby| %>
      <div class="kid-card card-design">
        <img class="baby-avatar" src="https://www.fillmurray.com/120/120" alt="">
        <h3><%= baby.name.first(14)%></h3>
        <% if baby.age < 30 %>
          <h4><%= baby.age %> jours</h4>
        <% elsif baby.age < 365 %>
          <h4><%= (baby.age / 12) %> mois</h4>
        <% else %>
          <h4><%= baby.age/365 %> ans</h4>
        <% end %>
        <h4><%= baby.gender == 0  ? "fille" : "garçon" %></h4>
        <h4>taille: <%= baby.height%>cm</h4>
        <h4>poids: <%= baby.weight%>kg</h4>
      </div>
    <% end %>

    <div id="add-kid" class="kid-card card-design">
      <img class="baby-avatar" src="https://www.fillmurray.com/120/120" alt="">
      <%= link_to new_user_baby_path(@user) do %>
        <h4>Ajouter un mioche</h4>
      <% end %>
    </div>

  </div>
</div>

<div class="container">
  <div class="my-likes">
  <h3>Vos messages</h3>
    <% if @posts.empty? %>
      <p>Vous n'avez encore rien liké ou posté.. Ca arrive, même aux meilleurs.</p>
    <% else %>
      <% @posts.each do |post| %>
        <%= render "posts/post", post: post, user_is_posts_author: post.user == current_user %>
      <% end %>
    <% end %>
  </div>
</div>
