
  <!-- Dropdown list appearing on mobile only -->
    <% if user_signed_in? %>
  <div class="navbar-item">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <li>
          <%= link_to user_path(current_user) do %>
            <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
          <% end %>
        </li>
        <li><%= link_to "Articles", articles_path %></li>
        <li><%= link_to "Chat des Darons", chat_room_path(ChatRoom.first) %></li>
        <li><%= link_to "La télécommande", products_path %></li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
    <% end %>

