<% content_for :homepage do %>


  <div id="header" class="header container flex-horizontal">
    <div class="logo">
      <h1>Le CLUB</h1>
    </div>
    <div class="links">
      <%= link_to "Maison", "#header"%>
      <%= link_to "Section 1", "#section1"%>
      <%= link_to "Section 2", "#section2"%>
      <%= link_to "Section 3", "#section3"%>
    </div>
  </div>

  <div id="section1" class="section1">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h2>Bienvenue au Club des Darons</h2>
          <p>
            <span>Enfin un endroit</span><br>
            <span>où on peut poser ses questions de père</span><br>
            <span>à d'autres pères</span><br>
            <span>qui ne vont pas casser les couilles</span><br>
          </p>
          <div class="install">
            <%= image_tag "OS.svg", class: "img-responsive" %>
          </div>
          <%= link_to "categories" do %>
          <h4 class="btn btn-success">Accèdez au club</h4>
          <% end %>
        </div>
        <div class="col-sm-4">
          <%= image_tag "iphone.svg", id: "img-app" %>
        </div>
      </div>
    </div>
  </div>
  <div id="section2" class="section2 text-center">
    <h2>La paternité c'est pas facile LES PAINS</h2>
    <div class="container">
      <div class="col-xs-3 block">
      <h3>PAIN</h3>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem a atque pariatur est iste dignissimos quaerat dolore assumenda quod perferendis.
        </p>
      </div>
      <div class="col-xs-3 block">
      <h3>PAIN</h3>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem a atque pariatur est iste dignissimos quaerat dolore assumenda quod perferendis.
        </p>
      </div>
      <div class="col-xs-3 block">
      <h3>PAIN</h3>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem a atque pariatur est iste dignissimos quaerat dolore assumenda quod perferendis.
        </p>
      </div>
      <div class="col-xs-3 block">
      <h3>PAIN</h3>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem a atque pariatur est iste dignissimos quaerat dolore assumenda quod perferendis.
        </p>
      </div>
    </div>
  </div>
  <div id="section3" class="section3">
    <div class="container">
      <h2>Découvrez le Club des Darons</h2>
    </div>
  </div>
<% end %>
