<div class="kid-card card-design">
  <% baby.photo? ? avatar_url = baby.photo.path : avatar_url = "http://res.cloudinary.com/zanzibar/image/upload/c_lfill,g_face:center,h_100,w_100,x_0,y_189/v1507717890/qrhsppul92yjc6ggq76a.jpg" %>

    <div class="baby-avatar text-center"
         style="background-image: linear-gradient(rgba(255,255,255,0),
                rgba(0,0,0,0.3)),
                url('<%= cl_image_path avatar_url, height: 100, width: 100, crop: :fill %>')">
    <h3><%= baby.name.first(11)%></h3>
    </div>
    <div class="baby-infos">
      <% if baby.age < 30 %>
        <h4><%= baby.age %> jours</h4>
      <% elsif baby.age < 365 %>
        <h4><%= (baby.age / 12) %> mois</h4>
      <% else %>
        <h4><%= baby.age/365 %> ans</h4>
      <% end %>

      <% if baby.gender? %>
        <h5><%= baby.gender == 0  ? "fille" : "garçon" %></h5>
      <% end %>
      <% if baby.weight? %>
        <h5><%= baby.height%> cm</h5>
      <% end %>
      <% if baby.weight? %>
      <h5><%= baby.weight%> kg</h5>
      <% end %>
    </div>
</div>
