<%= link_to chat_room_post_path(post.chat_room, post) do %>
  <div class="post <%= user_is_posts_author ? "right" : "" %>">

    <div class="post-top">
      <% avatar_url = post.user.facebook_picture_url || "https://www.fillmurray.com/200/200" %>
      <img class="avatar-large" src=<%= avatar_url %> alt="">
      <div>
        <div class="card-author">
          <h3><%= post.user.first_name[0..12] %><%= post.user.first_name.size > 12 ? ".." : "" %> </h3>
          <h5><%= post.user.babies.size %> morveux</h5>
        </div>
      </div>
      <h5 id="timer">Il y a <%=((Time.now - post.created_at)).to_i / 60%> min</h5>
    </div>

    <div class="post-content">
      <p><%= post.content %></p>
      <% if post.photo? %>
        <%= cl_image_tag post.photo.path, width: 300, height: 300, crop: :fill %>
      <% end %>
    </div>

    <div class="post-bottom">

        <%= link_to like_chat_room_post_path(post.chat_room, post), method: :put do %>
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <!-- see empty heart -->
        <% end %>

      <h5><%= pluralize post.get_likes.size, "like" %></h5>

      <i class="fa fa-comment"></i>
      <h5><%= post.messages.size %> messages</h5>
    </div>
  </div>

<% end %>
