<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- For Progressive Web App purposes : -->
    <meta name="viewport" content="width=auto, initial-scale=1"/>
    <meta name="theme-color" content="#e31a90"/>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <!-- fin des metas pour la PWA -->
    <title>Le Club des Darons</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>
  <body>
    <!-- Remettre la ligne suivante entre pe ruby pour ravoir les alertes -->
    <!-- render 'shared/flashes' -->

    <% if content_for?(:homepage) %>
      <%= yield(:homepage) %>
    <% else %>
      <div class="iphone-home"></div>
      <div class="layout">
        <% if content_for?(:navbar) %>
            <%= yield(:navbar) %>
        <% else %>
          <%= render 'shared/navbar' %>
        <% end %>
        <%= yield %>
      </div>
        <% if content_for?(:modal) %>
          <%= yield(:modal) %>
        <% end %>
    <% end %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
    <%= yield(:after_js) %>
  </body>
</html>
